@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "Panel administratora";
}


<ol class="breadcrumb">
    <li><a href="index.html">Admin Panel</a></li>
    <li class="active">Dashboard</li>
    @*<li class="active">Overview</li>*@

</ol>


